<h1>New Article</h1>
<%= form_for(@article) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label :hero %>
	<%= f.file_field :hero %>
	
	<%= f.label :content %>
	<%= f.text_field :content, as: :rich %>
	
	<%= f.submit "Save", class: "" %>
<% end %>
