<h1>New Article</h1>
<%= semantic_form_for @article do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
  <%= f.inputs do %>
    <%= f.input :hero, as: :rich_picker %>
    <%= f.input :content, as: :rich, :config => { :default_style => "myCrazyPaperclipStyle" } %>
  <% end %>
	<%= f.submit "Save", class: "" %>
<% end %>
